
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
  color: white;
}

.main{
    text-align: center;
    background-color: black;
    color: white;
    padding: 3rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  padding: .35rem;
  margin: 1rem 0;
}

input[type=number]:read-only{
  width: 80%;
  background-color: gainsboro;
  font-weight: 600;
}

button{
    padding: .2rem;
    aspect-ratio: 3;
    margin: 0 .5rem;
    border-radius: .3rem;
}

button:hover{
  background-color: gray;
}